<body>
  <h1>Restaurante Flax-Beli #1</h1>
    <mat-grid-list  [cols]="3" rowHeight="12em" gutterSize="10px"  *ngIf="datos">
      <ng-container class="container" *ngFor="let item of datos"> 
      <mat-grid-tile *ngIf="item.restauranteId==2043">
        <mat-card class="dashboard-card">
          
          <mat-card-header *ngIf="item.estadoMesa == 'Ocupada'" style="color:red;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Reservada'" style="color:blue;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Inactiva'" style="color:white;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>
          
          <mat-card-header *ngIf="item.estadoMesa == 'Desocupada'" style="color:green;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'PorPagar'" style="color:gray;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-divider inset></mat-divider>
          <mat-card-content class="dashboard-card-content">
            <div>Código de mesa: {{
              item.codigoMesa 
            }}</div>
            <div>Estado actual: {{
              item.estadoMesa
            }}</div>
            <button
            mat-mini-fab color="accent"
            matTooltip="Comprar"
            aria-label="Comprar"
            color="primary" 
            (click)="comprar(item.id)">
          <mat-icon class="mat-18">add_shopping_cart</mat-icon>
          </button>
          </mat-card-content>
          
        </mat-card>
      </mat-grid-tile>
    </ng-container>
    </mat-grid-list>

    <h1>Restaurante Flax-Beli #2</h1>
    <mat-grid-list  [cols]="3" rowHeight="12em" gutterSize="10px"  *ngIf="datos">
      <ng-container class="container" *ngFor="let item of datos"> 
      <mat-grid-tile *ngIf="item.restauranteId==1043">
        <mat-card class="dashboard-card">

          <mat-card-header *ngIf="item.estadoMesa == 'Ocupada'" style="color:red;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Reservada'" style="color:blue;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Inactiva'" style="color:white;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>
          
          <mat-card-header *ngIf="item.estadoMesa == 'Desocupada'" style="color:green;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'PorPagar'" style="color:gray;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>
          <mat-divider inset></mat-divider>
          <mat-card-content class="dashboard-card-content">
            <div>Código de mesa: {{
              item.codigoMesa 
            }}</div>
            <div>Estado actual: {{
              item.estadoMesa
            }}</div>
            <button
            mat-mini-fab color="accent"
            matTooltip="Comprar"
            aria-label="Comprar"
            color="primary"
            (click)="comprar(item.id)"
          >
          <mat-icon class="mat-18">add_shopping_cart</mat-icon>
          </button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
    </mat-grid-list>

<h1>Restaurante Flax-Beli #3</h1>
    <mat-grid-list  [cols]="3" rowHeight="12em" gutterSize="10px"  *ngIf="datos">
      <ng-container class="container" *ngFor="let item of datos"> 
      <mat-grid-tile *ngIf="item.restauranteId==4043">
        <mat-card class="dashboard-card">
          <mat-card-header *ngIf="item.estadoMesa == 'Ocupada'" style="color:red;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Reservada'" style="color:blue;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'Inactiva'" style="color:white;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>
          
          <mat-card-header *ngIf="item.estadoMesa == 'Desocupada'" style="color:green;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>

          <mat-card-header *ngIf="item.estadoMesa == 'PorPagar'" style="color:gray;">
            <mat-card-title>
              #{{item.id}}       
            </mat-card-title>
          </mat-card-header>
          <mat-divider inset></mat-divider>
          <mat-card-content class="dashboard-card-content">
            <div>Código de mesa: {{
              item.codigoMesa 
            }}</div>
            <div>Estado actual: {{
              item.estadoMesa
            }}</div>
            <button
          mat-mini-fab color="accent"
          matTooltip="Comprar"
          aria-label="Comprar"
          color="primary" 
          (click)="comprar(item.id)"
        >
        <mat-icon class="mat-18">add_shopping_cart</mat-icon>
        </button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
    </mat-grid-list>
</body>




