.contenedor{
    width: auto;
    height: auto;
    display: flex;
  
  }
  body{
    background-image:  url("https://us.123rf.com/450wm/merfin/merfin1812/merfin181200046/127109225-dibujado-a-mano-conjunto-de-garabatos-de-comida-r%C3%A1pida-icono-y-elementos.jpg?ver=6");
  }
  .footer-row {
    font-weight: bold;
  }
  .pageSizeOptions {
    color: black;
  }
  .pageSize {
    color: black;
  }
  .pageIndex {
    color: black;
  }
  
  .full-width-table {
    width: 100%;
    color: yellow;
    background-color: black;
  }
  .full-width{
    background-color: black;
  }
  
  .contenedorYcubierto{
      padding-top: 90px;
      padding-left: 50px;
      display: block;
      max-width: 90%;
  }
  .concuchara{
    padding-top: 90px;
    display: block;
    padding-left: 50px;
    width: 100%;
    max-width: 99%;
  }
  th {
    color: white;
  }
  td {
    color: yellow;
  }
  
  .mat-paginator {
    background-color: yellow;
  }
  .colorBotones {
    background-color: yellow;
    color: black;
  }
  .colorBotonesEdi {
    background-color: white;
    color: black;
    text-align: center;
  }