<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos" class="template">
  <mat-dialog-content>
    <h4><strong>Detalle de la Orden</strong> </h4>
    <p><strong>Fecha:</strong> {{datos.fechaOrden | date: 'dd/MM/yyyy'}}</p>
    <p><strong>--------------------------------------------------------------</strong></p>
    <p *ngIf="datos.usuario"><strong>Cliente:</strong> {{datos.usuario.nombre}}</p>
    <p *ngIf="datos.mesa"><strong>Mesa:</strong> {{datos.mesa.codigoMesa}}</p>
    <p><strong>--------------------------------------------------------------</strong></p>
    <ol *ngIf="datos.productos">
    <li *ngFor="let item of datos.productos">{{item.producto.nombre}}</li>
    </ol>
    <p><strong>--------------------------------------------------------------</strong></p>
    <p><strong>Notas:</strong> {{datos.notas}}</p>
    <p><strong>Subtotal:</strong> {{datos.subtotal}}</p>

    
     
  </mat-dialog-content>
  
  <mat-dialog-actions>
   
  </mat-dialog-actions>
  </div>
  
