<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
<div *ngIf="datos" class="template">
<mat-dialog-content >
 <h4><strong>Detalle de la mesa</strong> </h4>
 <p><strong>Identificador:</strong> {{datos.id}}</p>
 <p><strong>Código:</strong> {{datos.codigoMesa}}</p>
 <p><strong>Estado:</strong> {{datos.estadoMesa}}</p>
 <p><strong>Capacidad:</strong> {{datos.capacidad}}</p>
 <h4><strong>Código del Restaurante:</strong> {{datos.restauranteId}}</h4>
 <h4 *ngIf="datos.restaurante"><strong>Nombre del Restaurante:</strong> {{datos.restaurante.nombre}}</h4>

</mat-dialog-content>

<mat-dialog-actions>
   
</mat-dialog-actions>
</div>
