<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <div *ngIf="datos" class="template">
  <mat-dialog-content >
    <!-- <h4><strong>Detalle del producto</strong> </h4>
    <p><strong>Identificador:</strong> {{datos.id}}</p>
    <p><strong>Nombre</strong> {{datos.nombre}}</p>
    <p><strong>Descripción:</strong> {{datos.descripcion}}</p>
    <p><strong>Ingredientes:</strong> {{datos.ingredientes}}</p>
    <p><strong>Categoría:</strong> {{datos.categoria}}</p>
    <p><strong>Estado:</strong> {{datos.estado}}</p>
    <p><strong>Precio:</strong> {{datos.precio}}</p>
    <h4><strong>Disponible en los restaurantes:</strong></h4>
    <ul *ngIf="datos.restaurantes">
      <li *ngFor="let item of datos.restaurantes">{{item.nombre}} - {{item.ubicacion}}</li>  
   </ul> -->
  </mat-dialog-content>
  
  <mat-dialog-actions>
   
  </mat-dialog-actions>
  </div>
  