.grid-container {
    padding-top: 40px;
    text-align: center;
    
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    color: yellow;
    background-image : url(https://static.vecteezy.com/system/resources/thumbnails/001/900/914/small/blurred-restaurant-scene-with-empty-tabletop-free-photo.jpg);
    background-repeat:  no-repeat;
    background-size:cover;
  }

  
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
    
  }
  
  .dashboard-card-content {
    text-align: center;
    top: -20;
    font-size: 21px;
    color: white;
    
  }

  body {
    background-color: black;
    
  }
  