<body>
<div class="contenedor">
  <div class="contenedorYcubierto">
    <mat-card class="full-width">
      <mat-card-title><strong>Productos</strong></mat-card-title>
      <mat-card-content>
        <strong>Fecha: {{fecha | date: 'dd/MM/yyyy'}}</strong>

        <br>
        <br>
        <mat-form-field>
          <mat-label>Buscar Productos</mat-label>
          <input matInput (keyup)="filtrar($event)" placeholder="buscar">
        </mat-form-field>

      </mat-card-content>
      <mat-card-content *ngIf="dataSourceProducts">
      <table   mat-table [dataSource]="dataSourceProducts" class="full-width-table"
        matSort 
        matSortStart="desc"
        aria-label="Elements">
  
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; padding-left: 50px;">Producto</th>
              <td mat-cell *matCellDef="let row" style="padding-left: 50px;">{{row.nombre}}</td>     
            </ng-container>
  
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; padding-left: 50px;">Descripción</th>
              <td mat-cell *matCellDef="let row" style="padding-left: 50px;">{{row.descripcion}}</td>     
            </ng-container>
  
            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; padding-left: 50px;">Categoria</th>
              <td mat-cell *matCellDef="let row" style="padding-left: 50px;">{{row.categoria}}</td>   
            </ng-container>
  
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; padding-left: 50px;">Precio</th>
              <td mat-cell *matCellDef="let row" style="padding-left: 50px;">{{row.precio}}</td>   
            </ng-container>

            
  
  
            <ng-container matColumnDef="accionesCompra">
              <th mat-header-cell *matHeaderCellDef style="text-align:center; padding-left: 10px;">Agregar</th>
              <td mat-cell *matCellDef="let row" style="text-align:center;">
                <button  class="colorBotonesEdi"
                  mat-mini-fab
                  matTooltip="Agregar Producto"
                  aria-label="Agregar Producto"
                  color="primary"
                  (click)="comprar(row.id)"
                >
                <mat-icon class="mat-18">add_shopping_cart</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Detalle</th>
              <td mat-cell *matCellDef="let row">
                <button class="colorBotonesEdi"
                  mat-mini-fab
                  matTooltip="Detalle Producto"
                  aria-label="Detalle Producto"
                  color="primary"
                  (click)="detalleProducto(row.id)"
                >
                  <mat-icon class="mat-18">info</mat-icon>
                </button>
              </td>
            </ng-container>
   
            <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns:   displayedColumnsProducts;"></tr>
          </table>
      </mat-card-content>
     </mat-card>
  </div>

  <div class="concuchara">
    <mat-card class="full-width">
      <mat-card-title><strong> Orden de Compra</strong></mat-card-title>
      <mat-card-content>
        <strong>Fecha: {{fecha | date: 'dd/MM/yyyy'}}</strong>
      </mat-card-content>
      <mat-card-content *ngIf="dataSource">
        <mat-table [dataSource]="dataSource" class="full-width-table">
           
            <ng-container matColumnDef="producto">
              <mat-header-cell *matHeaderCellDef style="padding-left: 50px;"> Producto</mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-left: 50px;"> {{element.product.nombre}} 
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
          
            <ng-container matColumnDef="precio">
              <mat-header-cell *matHeaderCellDef style="padding-left: 50px;"> Precio </mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-left: 50px;"> {{ element.precio | currency:"₡"}} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
          
            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef style="padding-left: 100px;"> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-right: 110px;"> 
                <mat-form-field appearance="fill" style="padding-right: 110px;">
                    <input matInput id="cantidad " type="number" class="form-control mb-2" 
                    [(ngModel)]="element.cantidad"
                    (change)="actualizarCantidad(element)"
                    > 
                </mat-form-field> 
                
            </mat-cell>
            <mat-footer-cell *matFooterCellDef >Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="notas">
              <mat-header-cell *matHeaderCellDef style="padding-left: 70px;"> Notas </mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-right: 30px;"> 
                <mat-form-field appearance="fill" style="padding-right: 10px;">
                    <input matInput id="notas" type="text" class="form-control mb-2" 
                    [(ngModel)]="element.notas"> 
                </mat-form-field> 
                
            </mat-cell>
            <mat-footer-cell *matFooterCellDef >Total </mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="subtotal">
              <mat-header-cell *matHeaderCellDef  style="padding-left: 110px;"> Subtotal </mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-left: 50px;"> {{ element.subtotal | currency:"₡" }} </mat-cell>
              <mat-footer-cell *matFooterCellDef >{{total | currency:"₡"}}</mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <button mat-icon-button (click)="eliminarItem(element)">
                    <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></mat-footer-row>
          </mat-table>
          
      </mat-card-content>
      <mat-card-actions align="end">
        <button style="background-color: yellow; color: black;" mat-flat-button color="accent" (click)="registrarOrden()" >
            Comprar
            <mat-icon>shopping_bag</mat-icon> 
            </button>
      </mat-card-actions>
     </mat-card>
  </div>
</div>
</body>
  