.contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  background-image:  url("https://us.123rf.com/450wm/merfin/merfin1812/merfin181200046/127109225-dibujado-a-mano-conjunto-de-garabatos-de-comida-r%C3%A1pida-icono-y-elementos.jpg?ver=6");
}
.footer-row {
  font-weight: bold;
}
.pageSizeOptions {
  color: black;
}
.pageSize {
  color: black;
}
.pageIndex {
  color: black;
}

.full-width-table {
  width: 100%;
  color: yellow;
  background-color: black;
}

.contenedorYcubierto{
    padding-top: 90px;
    left: 80px;
    padding: 70px;
    display: block;
}
.concuchara{
  padding-top: 90px;
  left: 840px;
  padding: 70px;
  display: block;
}
th {
  color: white;
}
td {
  color: yellow;
}

.mat-paginator {
  background-color: yellow;
}
.colorBotones {
  background-color: yellow;
  color: black;
}
.colorBotonesEdi {
  background-color: white;
  color: black;
  text-align: center;
}


body {
background-color: black;
}